In [1]:
#q1

string_val = 'Ashok'
l = [12,'Ashok' , 58.265]
float_val = 2.565
tuple_ = ('Ashok' , 'Data science' , 25 , 85.223)

In [7]:
#q2

var1='' # String data type
var2 = '[DS , ML , Python]' # String Data type
var3 = ['DS' , 'ML' , 'Python'] #list data type
var4 = 1. #float data type

In [16]:
#q3

#(I)  / operator is use to divide and the result obtained is of float type 
a = 10
b = 2
print('(i)', a/b)

#(II) % known as modulo is used to find the remainder 

d = 40
e = 7
print('(ii)', d%e)

# (III) // is used to divide the numbers and the result obtained is of int type

f = 10
g = 2
print('(iii)', a//b)

# (IV) ** is the operator used for exponential purpose
#here for 3 ** 4 is equals to 3*3*3*3 
h = 3
i = 4

print('(iv)', h**i)

(i) 5.0
(ii) 5
(iii) 5
(iv) 81

In [17]:
#q4

list1 = [1,2,3,4,5,'Ashok' , 'Data' , 'Science' , '5.2' , 2.63]

for i in list1:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
Ashok <class 'str'>
Data <class 'str'>
Science <class 'str'>
5.2 <class 'str'>
2.63 <class 'float'>

In [20]:
#q5

a = 50
b = 5
result = 0;

if(a%b == 0):
    
    while(a%b == 0):
        
        result+=1
        a = a//b
    print("Number is purely divisible and " , result , " times it is divisible")    
else :
    
    print("Number is not Divisible")

Number is purely divisible and  2  times it is divisible

In [21]:
#q6

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list1:
    
    if(i%3==0):
        print(i , " is divisble by 3")
    else:
        print(i , " is not divisble by 3")

1  is not divisble by 3
2  is not divisble by 3
3  is divisble by 3
4  is not divisble by 3
5  is not divisble by 3
6  is divisble by 3
7  is not divisble by 3
8  is not divisble by 3
9  is divisble by 3
10  is not divisble by 3
11  is not divisble by 3
12  is divisble by 3
13  is not divisble by 3
14  is not divisble by 3
15  is divisble by 3
16  is not divisble by 3
17  is not divisble by 3
18  is divisble by 3
19  is not divisble by 3
20  is not divisble by 3
21  is divisble by 3
22  is not divisble by 3
23  is not divisble by 3
24  is divisble by 3
25  is not divisble by 3

In [ ]:
#q7

Mutable:- Mutable data types means on updating it does not               create any new object and assign it but it assign             the new value to the same object 
Example :- list

Immutable:- Immutable data types means on updating the value               it creates the new object and assign the updated               value to it.Immutable data types can not be                   updated.
Example:- string data type , tuple

In [23]:
#Mutable Example

list1 = ['Ashok' , 85]
list1[0] = 'Mevada'
list1

['Mevada', 85]

In [25]:
#Immutable example

list1[0][2] = 'T'

TypeError: 'str' object does not support item assignment