Q1
def keyword is used to create a function

In [85]:
def odd_list():

    l1 = []
    for i in range(1,26):
        if( i % 2 != 0 ):
            l1.append(i)

    return l1

In [86]:
odd_list()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2

*args (non keyword argument) is used for unknown number of arguments and args is replacable eg. *var and it gives the result in tuple.


**kwargs (keyword argument)is also used for unknown number of argumnets and kwargs is replacable and it gives the result in dictionary.

In [87]:
# *args example

def fun(*f):
    return f

In [88]:
fun(4 , 4,5,56,6 , "ashok")

(4, 4, 5, 56, 6, 'ashok')

In [89]:
# **kwargs example
def fun2(**kwargs):
    return kwargs

In [90]:
fun2(name = 'ashok' , course = "Data science")

{'name': 'ashok', 'course': 'Data science'}

Q3

An iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets.

iter() method is used to initailize the iterator object.

next() method is used to iterate over the iterator object.

In [91]:
l1 = [2,4,6,8,10,12,14,16,18,20]
iter_l1 = iter(l1)

for i in range(1,6):
    print(next(iter_l1))

2
4
6
8
10

Q4

Generator funtion in python is a normal function with yield keyword instead of return.It return a iteratable object which can be iterate using next() method

Yeild keyword is use to return the object

In [118]:
def ex_gen():
   yield 1

number = ex_gen()
print(number)
next(number)

<generator object ex_gen at 0x00000175B36C5C10>

1

Q5

In [92]:
def prime():
    for i in range(1,1000):
        flag = False
        for j in range(2,i):
            if(i%j == 0):
                flag = True
                break
        if(flag == False):
            yield i

In [93]:
prime_no = prime()
for i in range(0,20):
    print(next(prime_no))

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67

Q6

In [94]:
def fibo(n):
    a , b = 0,1
    for i in range(n):
        yield a
        a ,b = b , a+b

In [95]:
fibo_no = fibo(10)

In [96]:
for i in range(10):
    print(next(fibo_no))

0
1
1
2
3
5
8
13
21
34

Q7

In [97]:
l1 = [i  for  i in 'pwskills']

In [98]:
print(l1)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8

In [99]:
def palindrom(n):
    
    str_num = str(n)
    i , j = 0 , len(str_num) -1
    flag = True
    while( i < j):
        if(str_num[i] != str_num[j]):
            flag = False
            break
        else:
            i+=1
            j+=-1
    
    if( flag == True):
        print("Palindrom")
    else:
        print("Not palindrom")

In [100]:
palindrom(101)

Palindrom

In [101]:
palindrom(100)

Not palindrom

Q9

In [102]:
number = [ i for i in range(1,101)]
odd_number = [ i for i in number if( i %2 != 0)]
odd_number

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]