Q1. To calculate the probability that an employee is a smoker given that they use the health insurance plan, you can use Bayes' Theorem. Here's how you can calculate it:

Let:
- A be the event that an employee uses the health insurance plan.
- B be the event that an employee is a smoker.

You are given:
- P(A) = 0.70 (probability that an employee uses the health insurance plan).
- P(B|A) = 0.40 (probability that an employee is a smoker given that they use the health insurance plan).

You want to find P(B|A), the probability that an employee is a smoker given that they use the health insurance plan. You can use Bayes' Theorem:

P(B|A) = (P(A|B) * P(B)) / P(A)

Now, you need to find P(B), the probability that an employee is a smoker, and P(A|B), the probability that an employee uses the health insurance plan given that they are a smoker.

Assuming you have data for these probabilities, you can substitute them into the formula to calculate P(B|A).


Q2. Bernoulli Naive Bayes and Multinomial Naive Bayes are both variants of the Naive Bayes algorithm used in machine learning, but they are designed for different types of data:

- Bernoulli Naive Bayes: This variant is used when dealing with binary data, where features are either present (1) or absent (0). It is commonly used for text classification tasks like spam detection, where each feature represents the presence or absence of a specific word in a document.

- Multinomial Naive Bayes: This variant is used when dealing with categorical data, such as text data where features represent the frequency of words or tokens in a document. It's suitable for text classification tasks like sentiment analysis or document categorization.

The key difference lies in the type of data they are designed for and how they model the distribution of features.


Q3. Bernoulli Naive Bayes typically handles missing values by treating them as a separate category or value. When using binary features (1 for present, 0 for absent), a missing value can be considered as a third category, indicating "unknown" or "not observed." This allows the model to account for the uncertainty introduced by missing data. However, it's essential to preprocess your data and represent missing values appropriately before applying the Bernoulli Naive Bayes algorithm.


Q4. Gaussian Naive Bayes is primarily designed for binary or continuous features, making it suitable for binary classification tasks. However, it can be adapted for multi-class classification by applying it separately to each class and then choosing the class with the highest posterior probability as the predicted class. This approach is known as "One-vs-All" or "One-vs-Rest" classification, where a separate Gaussian Naive Bayes classifier is trained for each class, treating it as the positive class while considering the others as the negative class. The class with the highest probability becomes the predicted class.

In [2]:
#Q5

import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data"
data = pd.read_csv(url , header=None)

In [3]:
data

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4601 non-null   float64
 1   1       4601 non-null   float64
 2   2       4601 non-null   float64
 3   3       4601 non-null   float64
 4   4       4601 non-null   float64
 5   5       4601 non-null   float64
 6   6       4601 non-null   float64
 7   7       4601 non-null   float64
 8   8       4601 non-null   float64
 9   9       4601 non-null   float64
 10  10      4601 non-null   float64
 11  11      4601 non-null   float64
 12  12      4601 non-null   float64
 13  13      4601 non-null   float64
 14  14      4601 non-null   float64
 15  15      4601 non-null   float64
 16  16      4601 non-null   float64
 17  17      4601 non-null   float64
 18  18      4601 non-null   float64
 19  19      4601 non-null   float64
 20  20      4601 non-null   float64
 21  21      4601 non-null   float64
 22  22      4601 non-null   float64
 23  23      4601 non-null   float64
 24  24      4601 non-null   float64
 25  25      4601 non-null   float64
 26  26      4601 non-null   float64
 27  27      4601 non-null   float64
 28  28      4601 non-null   float64
 29  29      4601 non-null   float64
 30  30      4601 non-null   float64
 31  31      4601 non-null   float64
 32  32      4601 non-null   float64
 33  33      4601 non-null   float64
 34  34      4601 non-null   float64
 35  35      4601 non-null   float64
 36  36      4601 non-null   float64
 37  37      4601 non-null   float64
 38  38      4601 non-null   float64
 39  39      4601 non-null   float64
 40  40      4601 non-null   float64
 41  41      4601 non-null   float64
 42  42      4601 non-null   float64
 43  43      4601 non-null   float64
 44  44      4601 non-null   float64
 45  45      4601 non-null   float64
 46  46      4601 non-null   float64
 47  47      4601 non-null   float64
 48  48      4601 non-null   float64
 49  49      4601 non-null   float64
 50  50      4601 non-null   float64
 51  51      4601 non-null   float64
 52  52      4601 non-null   float64
 53  53      4601 non-null   float64
 54  54      4601 non-null   float64
 55  55      4601 non-null   int64
 56  56      4601 non-null   int64
 57  57      4601 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [5]:
X = data.iloc[ : , :-1]
y = data.iloc[ : , -1]

In [6]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split( X , y , test_size=0.2 , random_state=2)

In [14]:
from sklearn.naive_bayes import BernoulliNB , GaussianNB , MultinomialNB
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score , classification_report , precision_recall_fscore_support

bernoullinb = BernoulliNB()
gaussianNB  =GaussianNB()
multinomialNB = MultinomialNB()

In [40]:
models = [ bernoullinb , gaussianNB , multinomialNB]

In [46]:
def evalute_model( model):

    print("For : " , model )
    cv_result = cross_validate(model , X_train , y_train , cv = 10)
    print("cross validation score for 10 folds is :" , cv_result['test_score'].mean())
    model.fit(X_train , y_train)
    model_pred = model.predict(X_test)
    print("Accuracy : "  , accuracy_score(model_pred , y_test))
    prf =precision_recall_fscore_support(model_pred , y_test , average='macro')
    print("Precision : " , prf[0])
    print("Recall : " , prf[1])
    print("F1-score : " , prf[2])

In [47]:
for i in models:
    evalute_model(i)

For :  BernoulliNB()
cross validation score for 10 folds is : 0.8877717391304347
Accuracy :  0.8794788273615635
Precision :  0.8701249268007027
Recall :  0.8790973159394212
F1-score :  0.8738830873236657
For :  GaussianNB()
cross validation score for 10 folds is : 0.8146739130434784
Accuracy :  0.8327904451682954
Precision :  0.8517055436267812
Recall :  0.8418951612903225
F1-score :  0.8323158044074528
For :  MultinomialNB()
cross validation score for 10 folds is : 0.789945652173913
Accuracy :  0.7861020629750272
Precision :  0.7718451102869412
Recall :  0.7809855034450754
F1-score :  0.7752926853735957

we will use bernouliiNB because it has high accuracy and high precision